@tailwind base;

@tailwind components;

@tailwind utilities;

.product-container {
    overflow: hidden; 
    max-width: 100%; 
    cursor: pointer; 

}
@media (min-width: 768px) { 
    .product-container { 
        max-width: 350px;
    }
}

.top-product-container {
    position: relative; 
    max-width: 100%; 
    margin: auto;
}
@media (min-width: 768px) { 
    .top-product-container { 
        max-width: 350px;
    }
}

.image-class {
    object-fit: cover; 
    margin-top: 0.5rem; 
    margin: auto;
    width: 100%; 
    max-width: 100%; 
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem; 
    height: 200px;
}